#colophon{
    background: var(--primary-color);
    padding: .9rem 0rem;

    .site-info{
        text-align: center;
        color: #fff;
    }
    a,span{
        color: #ffff;
        text-decoration: none;
    }
}