// Search Styling

.search {
    margin-left: auto;
    
    button {
        padding: 0;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        height: 2.75rem;
        width: 2.75rem;
    }
    
    &__form-wrapper {
        width: 100%;
        display: none;
    }

    &__input {
        margin: 0.5rem auto;
        padding: 1rem 0.5rem !important;
        width: 100%;
    }
}
